# Dependencies
node_modules/
package-lock.json

# Environment Variables
.env

# SQLite local data (optional, or push schema)
# database.sqlite

# Logs & temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.obsidian/